html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #111;
  margin: auto;
  padding: auto;
  font-size: 1.6rem;
  color: #f4f4f4;
}

/* 111 444 */
/* 0f8 08f */

h1{
  /* border-top: 3px solid #f80; */
  /* border-bottom: 3px solid #f80; */
  text-align: center;
}

h2 {
  border-left: 12px solid #08f;
  padding-left: 0.5em;
}

h2.strong {
  border-left: none;
  border-bottom: 3px solid #08f;
}

section {
  margin-bottom: 5rem;
}

table {
  border-spacing: 0;
}

tr td, tr th {
  padding: 0.5em;
}

tr th {
  border-bottom: 2px solid #0f8;
}

tr td {
  border-bottom: 1px dashed #eee5;
}

output {
  white-space: pre-wrap;
}

.pagewrapper-full {
  height: 100vh;
  align-items: center;
  display: flex;
}

.page {
  margin: 3rem auto 90vh;
  max-width: 800px;
}

.block {
  display: block;
}

.spaced-block {
  display: block;
  margin-bottom: 0.5em;
}

.column{
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}

.elem {
  flex: 1 1 auto;
}

.fixed {
  flex: 0 0 auto;
}

.content{
  background-color: #444;
  padding: 1em 2em;
}

.highlight{
  font-weight: bolder;
  color:#0f8;
}

.table {
  display: table;
  border-top: 2px solid #eee5;
  border-bottom: 2px solid #eee5;
}

.table .table-row {
  display: table-row;
  border-bottom: 1px dashed #eee5;
}

.table .table-row :last-child {
  border-bottom: none;
}

.table .table-row .table-cell {
  display: table-cell;

  padding: 0.5em
}